{% load static tailwind_tags %}
<nav class="relative container mx-auto p-6">
      <!-- Flex Container -->
      <div class="flex items-center justify-between">
        <!-- Flex Items -->

        <!-- Logo -->
        <div class="pt-2">
          <img src="{% static 'img/logo.png' %}" alt="Logo"/>
        </div>

        <!-- Menu Items -->
        <div class="hidden space-x-6 md:flex">
            <a href="#" class="hover:text-darkGrayishBlue">Home</a>
            <a href="#" class="hover:text-darkGrayishBlue">Product</a>
            <a href="{% url 'blogs_page' %}" class="hover:text-darkGrayishBlue">Blogs</a>
            <a href="#" class="hover:text-darkGrayishBlue">Pricing</a>
            <a href="#" class="hover:text-darkGrayishBlue">About Us</a>
            <a href="#" class="hover:text-darkGrayishBlue">Careers</a>
            <a href="#" class="hover:text-darkGrayishBlue">Community</a>
        </div>
        <!-- Flex Item Button -->
         <a href="#" class="hidden p-3 px-6 pt-3 bg-brightRed text-white rounded-full baseline md:block hover:bg-brightRedLight ">Get Started</a>
          <!--  Hamburger Icon  / Menus-->
            <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
      </div>

        <!--    Mobile Menu -->
        <div class="md:hidden">
            <div id="menu" class="absolute flex flex-col items-center self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sms:self-center left-6 right-6 drop-shadow-md">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="{% url 'blogs_page' %}">Blogs</a>
                <a href="#">Pricing</a>
                <a href="#">About Us</a>
                <a href="#">Careers</a>
                <a href="#">Community</a>
            </div>
        </div>
    </nav>